.balances-box {
  min-height: max-content;
  background-color: #e8ebfe;
  border: 1px solid #adb3fb;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: #0c1230;
  padding: 10px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.balances-box.hide {
  padding: 20px 10px; /* Increase the top and bottom padding */
}

.title-and-value-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: #3954dc; /* Use a darker blue for titles to add hierarchy */
}

.title-and-value-container p {
  font-weight: 600; /* Make title text slightly bolder */
  margin: 0;
}

.text-content {
  color: #0c1230;
  margin-left: 10px;
}

.values-container {
  width: 94%;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
  padding: 16px;
  max-height: 2000px; /* Arbitrary large value */
}

.values-container.hidden {
  max-height: 0;
  padding: 0;
}

.box-header {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: blueviolet;
  font-weight: 600;
}

.box-header p {
  margin-right: 0.5rem;
}

.display-button {
  background-color: #9d6bff;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 50px; /* More rounded button */
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: background-color 0.3s ease-in-out, top 0.3s ease-in-out;
}

.display-button.hide {
  top: 10px; /* Move the button up a bit when the box is hidden */
}

.display-button:hover {
  background-color: #7b57cf; /* A darker shade for hover state */
}

.loading-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 16px;
}

.loading-spinner {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3px solid #9d6bff; /* Match spinner color to button color */
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}
